@{
    ViewData["Title"] = "ONama";
}

<h1 style="text-align : center">O nama</h1>

<h1 style="text-align : center">
    Online prodavnica igracaka
</h1>

<h2 style="text-align : center">
    Otkrijte našu šitroku ponudu lgračaka za sve uzraste i interese vaših malih
    avanturista. Pronadite sve što vaši mališani žele - od omiijenih klasika do
    najnovijih trendova. Neka se vaši mališani igraju i uče uz našu kreativnu i
    edukativnu kolekclju lgračaka. Pogledajte naš asortlman i pronadite
    savršn dar za svoje najdraze
</h2>
