@model ToyStore.Models.Kartica

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kartica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KarticaId" />
            <div class="form-group">
                <label asp-for="BrojKartica" class="control-label"></label>
                <input asp-for="BrojKartica" class="form-control" />
                <span asp-validation-for="BrojKartica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MjesecIsteka" class="control-label"></label>
                <input asp-for="MjesecIsteka" class="form-control" />
                <span asp-validation-for="MjesecIsteka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodinaIsteka" class="control-label"></label>
                <input asp-for="GodinaIsteka" class="form-control" />
                <span asp-validation-for="GodinaIsteka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cvv" class="control-label"></label>
                <input asp-for="Cvv" class="form-control" />
                <span asp-validation-for="Cvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
